/* Estilos para el fondo en movimiento */
body {
    background: linear-gradient(135deg, #000000, #000000);
    background-size: 200% 200%;
    animation: gradientAnimation 10s infinite alternate;
    font-family: 'Roboto Slab', serif;
    color: #ffffff; /* Color de texto blanco */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Estilos para la Navbar */
.navbar {
    background-color: #000000; /* Fondo negro */
    color: #000000; /* Texto negro */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.navbar.scrolled {
    background-color: #000000; /* Color de fondo al hacer scroll */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra al hacer scroll */
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-brand img {
    max-width: 40px;
    margin-right: 10px;
}

.nav-link {
    color: #000000 !important; /* Texto negro */
}

.nav-link:hover {
    color: #ffd54f !important; /* Amarillo al hacer hover */
}

/* Efecto de crecimiento en botón al hacer hover */
.btn-outline-light {
    transition: transform 0.3s ease-in-out;
}

.btn-outline-light:hover {
    transform: scale(1.1); /* Escala el botón al hacer hover */
}

        /* Estilos para la sección de Contacto */
        .contacto-section {
            padding: 80px 0;
            color: #ffffff; /* Texto blanco */
            text-align: center;
        }

        .contacto-section h2 {
            color: #f58220; /* Naranja */
        }

        .form-control {
            background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
            color: #ffffff; /* Texto blanco */
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #f58220; /* Naranja */
            border-color: #f58220; /* Borde naranja */
        }

        .btn-primary:hover {
            background-color: #e66e00; /* Naranja más oscuro al hacer hover */
            border-color: #e66e00; /* Borde naranja más oscuro al hacer hover */
        }
/* Estilos para el Footer */
.footer {
    background-image: url('/img/oasisn2.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Texto blanco */
    padding: 60px 0; /* Padding superior e inferior */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil en la parte superior */
}

.footer a {
    color: #ffffff; /* Texto blanco */
}

.footer a:hover {
    color: #ffd54f; /* Amarillo al hacer hover */
}

/* Estilos adicionales */
.my-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.mt-auto {
    margin-top: auto !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.text-center {
    text-align: center !important;
}

/* Estilos específicos para Botones */
.btn-lg {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #f58220; /* Naranja */
    border-color: #f58220; /* Naranja */
}

/* Estilos para el slider */
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide {
    flex: 0 0 200px;
    margin-right: 20px;
}

.slide img {
    width: 100%;
}


/* Animación de desplazamiento infinito */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Estilos para el slider en dispositivos móviles */
@media (max-width: 414px) {
    .slide {
        flex: 0 0 calc(100% - 10px); /* Ajustar el tamaño de cada slide */
        margin-right: 10px; /* Espacio entre slides */
    }

    .slide img {
        width: 100%; /* Ajustar el ancho de la imagen al contenedor del slide */
        height: auto; /* Altura automática para mantener la proporción */
    }
}
