.container {
    max-width: 800px;
    /* Ajusta el ancho máximo del contenido */
    margin: 0 auto;
    /* Centra el contenido horizontalmente */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

h1 {
    text-align: center;
    color: #F5763B;
    margin-bottom: 30px;
}

/* Estilos para el formulario de búsqueda */
.form-group {
    margin-bottom: 20px;
}

.input-group-text {
    background-color: transparent;
    border-color: #F5763B;
    color: #F5763B;
}

.form-control {
    border-color: #F5763B;
}

/* Estilos para la tabla de eventos */
.table {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #F5763B;
    color: #ffffff;
    text-align: center;
}

.table tbody tr:hover {
    background-color: rgba(245, 118, 59, 0.1);
    /* Color de fondo al pasar el mouse */
}

/* Estilos globales */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10101A;
    color: #FFFFFF;
    /* Color de texto principal */
}

/* Estilos de la barra de navegación */
.navbar {
    padding: 1rem 0;
    transition: background-color 0.3s ease;
    background-color: #161624;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}

.navbar-brand {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.navbar-toggler {
    border: none;
    transition: box-shadow 0.3s ease;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
    color: orange;
}

.dropdown-menu {
    min-width: 10rem;
    transition: transform 0.3s ease;
    background-color: #161624;
    border: none;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: #FFFFFF;
}

.dropdown-item:hover {
    background-color: #212133;
    /* Color de fondo más oscuro */
}

.orange-text {
    color: orange;
}

.logo {
    height: 40px;
}

/* Slider de logos */
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide {
    flex: 0 0 200px;
    margin-right: 20px;
}

.slide img {
    width: 100%;
}

/* Animación de desplazamiento infinito */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Media queries para ajustes responsivos */
@media screen and (max-width: 700px) {
    .contenedor-input {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        background-color: #ffffff;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para el footer */
.footer {
    background-image: url('/img/oasisn2.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #ffd54f;
}