        /* Estilos para el fondo en movimiento */
        body {
            background: linear-gradient(135deg, #000000, #000000);
            background-size: 200% 200%;
            animation: gradientAnimation 10s infinite alternate;
            font-family: 'Roboto Slab', serif;
        }
        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }
        .error-message{
            color: red;
        }
/* Estilos para la Navbar */
.navbar {
    background-color: #000000; /* Fondo blanco */
    color: #000000; /* Letras negras */
    /* Ajusta el tamaño y la posición del fondo según sea necesario */
    background-size: cover;
    background-position: top;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-brand img {
    max-width: 40px;
    margin-right: 10px;
}
        
        .navbar-brand .logo {
            width: 40px;
            height: 40px;
        }


        /* Contenido principal */
        .container {
            max-width: 800px;
            
        }

        .card {
            border: none;
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card-body {
            padding: 40px;
        }

        .card-title {
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
            color: #555;
        }

        .form-control {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
        }

        .btn-primary {
            background-color: #ffc107;
            border-color: #ffc107;
            padding: 10px 20px;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #ff9800;
        }

        .footer {
            background-image: url('/img/oasisn2.jpg');
            /* Ajusta el tamaño y la posición del fondo según sea necesario */
            background-size: cover;
            background-position: center;
            padding: 60px 0; /* Padding superior e inferior para el footer */
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil en la parte superior del footer */
        }

        .footer a {
            color: #fff;
            text-decoration: none;
            font-size: 1.1rem;
            transition: color 0.3s ease;
        }

        .footer a:hover {
            color: #ffc107;
        }

/* Puntos section */
.puntos-section {
    margin-top: 30px;
}

.puntos {
    font-size: 36px; /* Aumentar el tamaño de la fuente */
    font-weight: bold;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 20px; /* Redondear más los bordes */
    padding: 20px;
    text-align: center;
    margin-bottom: 40px; /* Aumentar el espacio inferior */
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2); /* Sombra suave */
    transition: transform 0.3s ease; /* Añadir transición */
}

.puntos:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

/* Animación de pulso */
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.08);
    }
}

        /* Slider */
        #slider {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .slide-track {
            display: flex;
            animation: scroll 40s linear infinite;
        }

        .slide {
            flex: 0 0 200px; /* Ancho fijo de cada slide */
            margin-right: 20px; /* Espacio entre slides */
        }

        .slide img {
            width: 100%;
        }

        /* Animación de desplazamiento infinito */
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }
        /* Estilos para el slider en dispositivos móviles */
@media (max-width: 414px) {
    .slide {
        flex: 0 0 calc(100% - 10px); /* Ajustar el tamaño de cada slide */
        margin-right: 10px; /* Espacio entre slides */
    }

    .slide img {
        width: 100%; /* Ajustar el ancho de la imagen al contenedor del slide */
        height: auto; /* Altura automática para mantener la proporción */
    }
}
/* Consulta de medios para dispositivos móviles */
@media (max-width: 414px) {
    .navbar-brand {
        padding: 0 10px; /* Ajustar espacio interno a los lados */
    }

    .navbar-nav .nav-link {
        padding: 10px; /* Reducir espacio interno */
    }

    .card-img-top {
        height: 150px; /* Reducir aún más la altura de la imagen */
    }

    .card-title {
        font-size: 1rem; /* Reducir tamaño del título */
    }

    .btn-primary {
        padding: 8px 16px; /* Reducir el tamaño del botón */
    }

    .slide img {
        height: 120px; /* Reducir aún más la altura de las imágenes en el slider */
    }

    .rating i {
        font-size: 1rem; /* Reducir tamaño de las estrellas de valoración */
    }
}
/* Es