@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    background-color: #10101A;
    background-size: 200% 200%;
    animation: gradientAnimation 10s infinite alternate;
    font-family: 'Roboto Slab', serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/* Estilos para la sección de Valoración de Eventos */

.container h1 {
    color: #f58220;
    /* Color naranja */
    font-size: 2.5rem;
    /* Tamaño grande para el título */
    margin-bottom: 1.5rem;
    /* Margen inferior */
}

.container h3 {
    color: #fbc557;
    /* Color gris oscuro */
    font-size: 1.5rem;
    /* Tamaño mediano para el subtítulo */
    font-weight: normal;
    /* Peso de fuente normal */
    margin-bottom: 3rem;
    /* Margen inferior más grande */
}


/* Estilos para la Navbar */

.navbar {
    background-color: #000000;
    /* Fondo negro */
    color: #000000;
    /* Texto negro */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: #000000;
    /* Color de fondo al hacer scroll */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra al hacer scroll */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-brand img {
    max-width: 40px;
    margin-right: 10px;
}

.nav-link {
    color: #000000 !important;
    /* Texto negro */
}

.nav-link:hover {
    color: #ffd54f !important;
    /* Amarillo al hacer hover */
}


/* Estilos para las tarjetas de eventos */

.card {
    background-color: #262635;
    border: 1px solid #e0e0e0;
    /* Borde sutil */
    border-radius: 12px;
    /* Bordes ligeramente más redondeados */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    /* Sombra más suave */
    margin-bottom: 20px;
    /* Espacio inferior */
    width: 100%;
    /* Ancho para que quepan tres tarjetas por fila */
    /* 20px de espacio entre tarjetas */
}

.card:hover {
    transform: translateY(-5px);
    /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    /* Sombra más pronunciada al pasar el cursor */
}

.card-img-top {
    height: 250px;
    /* Altura fija para todas las imágenes */
    object-fit: contain;
    /* Ajuste de imagen para contener toda la imagen */
    border-radius: 12px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    width: 100%;
    /* Ajustar el ancho al 100% para garantizar el ajuste */
}


/* Centrar verticalmente la imagen */

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Estilo para el título */

.swal2-title {
    color: #333;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño del texto */
    font-weight: bold;
    /* Peso de la fuente */
}


/* Estilo para el texto */

.swal2-content {
    color: #666;
    /* Color del texto */
    font-size: 18px;
    /* Tamaño del texto */
}


/* Estilo para el botón de cerrar */

.swal2-close {
    color: #999;
    /* Color del botón */
}


/* Estilo para el botón de confirmación */

.swal2-confirm {
    background-color: #007bff;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    border: none;
    /* Borde */
    border-radius: 5px;
    /* Borde redondeado */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño del texto */
    cursor: pointer;
    /* Cursor al pasar */
}


/* Estilo para el temporizador de progreso */

.swal2-timer-progress-bar {
    background-color: #007bff;
    /* Color de la barra de progreso */
}

.card-title {
    font-size: 1.25rem;
    /* Tamaño de fuente ajustado */
    font-weight: 600;
    /* Negrita */
    color: #ffffff;
    /* Color de texto */
    margin: 15px 15px 0;
    /* Espaciado */
}

.card-text {
    font-size: 1rem;
    /* Tamaño de fuente */
    color: #999999;
    /* Color de texto secundario */
    margin: 10px 15px 15px;
    /* Espaciado */
}


/* Añadir suavidad visual */

.card-body {
    padding: 15px;
    /* Padding interno */
}

.btn-primary {
    background-color: #ffbb00;
    /* Color de fondo del botón */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 10px 20px;
    /* Padding */
    font-size: 0.9rem;
    /* Tamaño de fuente */
    color: #000000;
    /* Color de texto */
    transition: background-color 0.3s ease;
    /* Transición suave */
}

.btn-primary:hover {
    background-color: #ad7c0b;
    /* Color de fondo al pasar el cursor */
}


/* Mejorar la estética del texto */

.card-title,
.card-text {
    line-height: 1.5;
    /* Altura de línea */
}

.btn-start {
    background-color: #ffae0b;
    color: #3a1c71;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-start:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #3a1c71;
}

.jumbotron {
    background: linear-gradient(to right, #ffffff, #f6fa15, #ffc404dc);
    color: #fff;
    padding: 80px 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
}

.jumbotron p {
    color: #000000;
}

.rating .star {
    font-size: 1.2em;
    /* Tamaño de estrella */
    color: #ffc107;
    /* Color de estrella */
    cursor: pointer;
    /* Cursor en puntero */
}


/* Responsividad */

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
        /* Altura ajustada para pantallas más pequeñas */
    }
    .card-title {
        font-size: 1.1rem;
        /* Tamaño de fuente ajustado */
    }
    .card-text {
        font-size: 0.9rem;
        /* Tamaño de fuente ajustado */
    }
}


/* Estilos para el footer */

.footer {
    background-image: url('/img/oasisn2.jpg');
    /* Ajusta el tamaño y la posición del fondo según sea necesario */
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    /* Padding superior e inferior para el footer */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil en la parte superior del footer */
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #ffd54f;
}


/* Estilos para el slider */

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide {
    flex: 0 0 200px;
    margin-right: 20px;
}

.slide img {
    width: 100%;
}


/* Consulta de medios para dispositivos móviles */

@media (max-width: 414px) {
    .navbar-brand {
        padding: 0 10px;
        /* Ajustar espacio interno a los lados */
    }
    .navbar-nav .nav-link {
        padding: 10px;
        /* Reducir espacio interno */
    }
    .card-img-top {
        height: 150px;
        /* Reducir aún más la altura de la imagen */
    }
    .card-title {
        font-size: 1rem;
        /* Reducir tamaño del título */
    }
    .btn-primary {
        padding: 8px 16px;
        /* Reducir el tamaño del botón */
    }
    .slide {
        flex: 0 0 calc(100% - 10px);
        /* Ajustar el tamaño de cada slide */
        margin-right: 10px;
        /* Espacio entre slides */
    }
    .slide img {
        width: 100%;
        /* Ajustar el ancho de la imagen al contenedor del slide */
        height: auto;
        /* Altura automática para mantener la proporción */
    }
    .rating i {
        font-size: 1rem;
        /* Reducir tamaño de las estrellas de valoración */
    }
}


/* Estilos para las estrellas de valoración */

.rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rating-num {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
    color: #ddd;
    margin-left: 10px;
}

.no-reviews {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.rating i {
    color: #f58220;
    font-size: 1.5rem;
}

.rating .fas.fa-star {
    color: #ffdd00;
}

.rating .fas.fa-star-half-alt {
    color: #fff200;
}

.rating .far.fa-star {
    color: #e0e0e0;
}


/* Animación de desplazamiento infinito */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Estilos CSS para el contenedor principal de usuarios mejor valorados */

#top-rated-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}


/* Estilos CSS para cada tarjeta de usuario */

.user-card {
    width: 30%;
    /* Ancho inicial de la tarjeta (ajustará automáticamente en pantallas más pequeñas) */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #ffe3be;
    /* Color de fondo */
    border: 1px solid #ddd;
    /* Borde suave */
    display: flex;
    flex-direction: column;
}


/* Efecto hover para la tarjeta */

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}


/* Estilos para la información del usuario */

.user-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}


/* Estilos para el nombre del evento */

.evento-info {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 8px;
    color: #666;
    /* Color gris oscuro */
}


/* Estilos para la valoración */

.rating-info {
    font-size: 16px;
    margin-bottom: 8px;
}


/* Estilos para la descripción */

.description-info {
    font-size: 14px;
    margin-bottom: 12px;
}

.orange-text {
    color: orange;
}


/* Estilos para el contenedor de estrellas */

.stars-container {
    display: flex;
    align-items: center;
}

.user-card:hover {
    transform: scale(1.02);
}

.stars-container .fa-star,
.stars-container .fa-star-half-alt,
.stars-container .fa-star-empty {
    font-size: 1.2em;
    color: #ffc107;
}

.user-info {
    font-weight: bold;
    margin-bottom: 5px;
}


/* Estilos para las estrellas */

.star {
    color: gold;
    font-size: 20px;
    margin-right: 4px;
}


/* Estilos para hacer la tarjeta responsive */

@media (max-width: 768px) {
    .user-card {
        width: 45%;
        /* Reducir el ancho en pantallas más pequeñas */
    }
}

@media (max-width: 576px) {
    .user-card {
        width: 100%;
        /* Ancho completo en pantallas muy pequeñas */
    }
}